.main_section {
  padding: 40px;
  .inner {
    width: 420px;
    margin: 0 auto;

    .data_table {
      position: relative;
      top: 50px;
      height: 370px;
      outline: 1px solid red;
      overflow: auto;

      .order_table {
        width: calc(100% - 10px);
        margin: 0 auto;
        padding: 5px;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;

        thead {
          text-align: center;
          th {
            position: sticky;
            top: 0;
            height: 40px;
            font-size: 12px;
            border-bottom: 1px solid #ddd;
            background: #fff;
          }
        }

        tbody {
          text-align: center;
          tr {
            display: table-row;
            height: 30px;

            .state {
              font-size: 14px;
              border-radius: 20px;
            }
            .order {
              background-color: rgb(100, 245, 100);
            }
            .ready {
              background-color: rgba(246, 213, 26, 0.666);
            }
            .delivery {
              background-color: rgb(51, 98, 241);
            }
            .complete {
              background-color: rgb(130, 127, 131);
            }
          }
        }
      }
    }
  }
}
